table {
    width: 900px;
}

th {
    text-align: left;
}

td {
color:rgb(255, 255, 255);
-webkit-text-stroke: 1px #000;
}

h1 {
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

p {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 1px #000;
}

table, th, td {
    border: 15px solid rgba(255, 8, 8, 0.356);
    border-collapse: collapse;
    font-size:x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(238, 82, 82, 0.062);
}

body {
    background-image: url(Thumbnail2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
